@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaisei+Decol&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Kaku+Gothic+New&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: "Zen Kaku Gothic New", serif;
    font-style: normal;
    background: white;
    overflow-x: hidden;
}
p {
    color: black;
}
h2 {
    color: black;
    font-size: 2rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background: black;
    }
    p {
        color: white;
    }
    h2 {
        color: white;
    }
}

.gg {
    font-family: "Inter", serif;
    color: #4286F5;
}

.bg {
    font-family: "Work Sans", serif;
    color: #078675;
}

.go {
    font-family: "Montserrat", serif;
    color: #DF5C39;
}

.jp {
    font-family: "Kaisei Decol", serif;
    color: #FF0739;
}